{% extends 'base.html.twig' %}
{% block js %}
    <script src="https://pagecdn.io/lib/ace/1.4.12/ace.js"></script>
    <script src="{{ asset("js/dynamic-language-loader.js") }}"></script>
{% endblock %}
{% block title %}CodingChallenge - {{ exercise.Name }}{% endblock %}
{% block titre_page %}
    {{ exercise.Name }}
{% endblock %}
{% block body %}
<div>
{{ description }}
</div>
<hr/>
<div id="code-edit-area">
    <select id="languageSelect" onchange="loadLanguage(this);">
            <option value="[&quot;c_cpp&quot;,&quot;c&quot;]">C</option>
            <option value="[&quot;c_cpp&quot;,&quot;c++&quot;]">C++</option>
            <option value="[&quot;csharp&quot;,&quot;c#&quot;]">C#</option>
            <option value="[&quot;java&quot;,&quot;java&quot;]">Java</option>
            <option value="[&quot;javascript&quot;,&quot;javascript&quot;]">JavaScript</option>
            <option value="[&quot;python&quot;,&quot;python&quot;]">Python 3.7</option>
            <option value="[&quot;rust&quot;,&quot;rust&quot;]">Rust</option>
        </select>
    <div id="editor" style="height 40vh;">{% if lastSubmittedCode is defined %}{{lastSubmittedCode}}{% else %} // Envoyez les messages de debug sur la sortie d'erreur (voir méthode selon langage)
// Appuyez sur entrée pour rajouter des lignes à votre code.{% endif %}</div>
<br/>
<a onclick="submitCode()"><div class="btn btn-primary">Soumettre la solution</div></a>
</div>
<br/>
<div id="score" class="">
</div>
<div id="outputs-div">
    <div id="tests-output" class="output">
    </div>
    <div id="errors-output" class="output">
    </div>
</div>
<br/>
<script>
    var userId = {{ app.user.id }};
    var exerciseId = {{ exercise.Id }};
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
    editor.setFontSize(18);
    editor.setOptions({
    maxLines: 25
    });
    loadLanguage(document.querySelector("#languageSelect"));
    function submitCode() {
        let languageSelectNode = document.querySelector("#languageSelect");

        var req = {
            "userId": userId,
            "exerciseId": exerciseId,
            "submittedCode":
            {
                "lang": JSON.parse(languageSelectNode.value)[1],
                "source": editor.getValue()
            }

        };
        let out = document.querySelector("#tests-output");
        let err = document.querySelector("#errors-output");
        out.textContent = "Tests en cours...";
        let ajax = new XMLHttpRequest();
        ajax.open("POST","{{ path('run', {'id' : app.request.attributes.get('_route_params')['id']}) }}",false);
        ajax.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        ajax.send(JSON.stringify(req));
        let jsonData = JSON.parse(ajax.responseText);
        console.log(jsonData);
        out.textContent = "";
        err.textContent = "";
        let score = 0;
        jsonData.forEach(el => {
            if(el.check) score ++;
            if(el.name == undefined) { // compilation error
                out.textContent = el.stdout;
                err.textContent = el.stderr;
            } else {
                out.textContent += el.name + " :\r\n\t" + el.stdout + "\r\n\r\n";
                err.textContent += el.stderr == "" ? "" : el.name + " :\r\n" + el.stderr + "\r\n" + (el.stderr.slice(-1) ==  '\n' ? "" : "\r\n");
            }
        });
        let scoreDiv = document.querySelector("#score");
        scoreDiv.className = "alert";
        if(score == 0) {
            scoreDiv.classList.add("alert-danger");
            scoreDiv.textContent = "Aucun test passé...";
        } else if (score == jsonData.length) {
            scoreDiv.classList.add("alert-success");
            scoreDiv.textContent = "Tous les tests passés !";
        } else {
            scoreDiv.classList.add("alert-warning");
            scoreDiv.textContent = score + "/" + jsonData.length + " tests passés";
        }
        
        
        

        /*
        $.ajax({
            url: "{{ path('run', {'id' : app.request.attributes.get('_route_params')['id']}) }}",
            type: 'POST',
            data: JSON.stringify(req),
            dataType: 'json',
            success : function(data) {          
                let jsonData = JSON.parse(data);
                console.log(jsonData['compile']);
                $("#tests-output").append();  

            },
            error : function() {
                alert("Une erreur est survenue");
            }
        })*/
    }
</script>    
{% endblock %}
