{% extends 'base.html.twig' %}

{% block title %}{{ exercise.name }} - Coding Challenge{% endblock %}
{% block titre_page %}{{ exercise.id }} - {{ exercise.name }}{% endblock %}
{% block body %}
    <p>Difficulté : {{ exercise.difficulty }}</p>
    <p>{{ exercise.ApprovedDate|date("d/m/Y") }}</p>
    <p>{{ exercise.description }}</p>
    {% if  app.user %}
        <a href=""><div class="btn btn-primary">Résoudre l'exercice</div></a>
    {% endif %}
{% endblock %}