{% extends 'base.html.twig' %}

{% block title %}
    Coding Challenge
{% endblock %}
{% block titre_page %}Accueil
{% endblock %}
{% block body %}
{% if  is_granted('ROLE_ADMIN')%}
			{% if countExerciceAttente != 0 %}
				<div class="alert alert-warning">
					Il y a {{ countExerciceAttente }} exercices en attente, visionnez-les <a href="{{ path("exercises_approval") }}">ici</a>.
				</div>
			{% endif %}
			{% if countUsersAttente != 0 %}
			<div class="alert alert-warning">
				Il y a {{ countUsersAttentes }} utilisateurs en attente, visionnez-les <a href="{{ path("users_approval") }}">ici</a>.
			</div>
		{% endif %}
		{% endif %}
<p>
{% if app.user %}
<a href="http://sebastienjean.fr/Enseignement/Oscillo.jpg" target="_blank"><img src="{{ asset('img/martine.jpg') }}" alt="Martine"></a>
{% else %}
Bonjour, et bienvenue sur notre site Coding Challenge. 
Vous pouvez aller regarder la liste des exercices disponibles afin d'avoir un aperçu de ce, à quoi vous aurez accès une fois inscrit.</p>
{% endif %}
{% endblock %}
