<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bienvenue !{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/uga.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}" />
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
    {% endblock %}
</head>
<body class="container">
    {% block header %}
    <div class="row">
        <div class="col-md-12">
            <img src="{{asset('img/BandeauValenceIUT.jpg')}}" alt="Bandeau UGA IUT" width="100%"/>
        </div>
    </div>
    {% endblock %}
    {% block menu %}{% endblock %}
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{{asset('js/jquery-3.4.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
