{% extends 'base.html.twig' %}

{% block title %}Coding challenge - {{ challenge.id }}{% endblock %}

{% block body %}

    {{ challenge.StartDate|date("d/m/Y") }} - {{ challenge.EndDate|date("d/m/Y")  }}<br><br>
    <a class='newLink' href="{{ path('app_register') }}">Inscrivez-vouz</a> ou <a class='newLink' href="{{ path('app_login') }}">connectez-vous</a> afin de participe au challenge.
{% endblock %}
