{% extends 'base.html.twig' %}

{% block title %}
    Coding Challenge
{% endblock %}
{% block titre_page %}Exercices
{% endblock %}
{% block body %}
	<div class="container exercise-container">
	{% for exercise in exercises %}
		{% if exercise.state.label == "Opened" %}
		<br/>
			<div class="col-sm">
				<p>{{ exercise.id }} - {{ exercise.name }} ({{ exercise.ApprovedDate|date("d/m/Y") }})</p>
				<p>{{ exercise.description }}</p>
				<a href="{{ path("exercise", {id: exercise.id}) }}"><div class="btn btn-primary">Accéder à l'exercice</div></a>
			</div>
		{% endif %}
	{% endfor %}
	</div>
{% endblock %}